.container_animation_text {
  justify-content: center;
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  /* border-top: 2px solid red; */
  padding-top: 2rem;
}

.text {
  /* font-family: $body-font; */
  font-weight: 100;
  font-size: 2rem;
  color: #fafafa;
}
.dud {
  color: #f02b67;
}
